# Virtual environments
.venv/
venv/
env/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
